.create {
    padding: 24px;

    h3 {
        margin: 0px 11px;
        // padding: 24px 24px 20px;
        border-bottom: none;
        color: rgb(74, 74, 74);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
    }

    h4 {
        margin: 14px auto 0;
        font-family: Roboto;
        font-size: 12px;
        font-weight: bold;
        color: #4a4a4a;
    }

    input {
        width: 100%;
        margin: 10px auto;
        border: 0;
        border-bottom: 1px solid #c0c0c0;
        color: #4a4a4a;       
        font-family: Roboto;
        font-size: 12px;
        font-weight: 100;
        outline: 0;
    }

    div {
        select {
            margin: 10px 20px 10px 0;
            border: 0;
            border-bottom: 1px solid #c0c0c0;
            color: #4a4a4a;
            font-family: Roboto;
            font-size: 12px;
            font-weight: 100;
            outline: 0;
        }
    }
    footer {
        display: flex;
        align-items: center;
        input {
            display: none;
        }

        button, label {
            display: inline-block;
            position: relative;
            min-width: 88px;
            height: 36px;
            margin: 0px;
            padding: 0px;
            border: 10px;
            box-sizing: border-box;
            font-family: Roboto, sans-serif;
            font-size: inherit;
            font-weight: inherit;
            border-radius: 2px;
            background-color: rgba(0, 0, 0, 0);
            color: rgb(0, 188, 212);
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            text-align: center;
            text-decoration: none;
            line-height: 36px;
            outline: none;
            transform: translate(0px, 0px);
            transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
            -webkit-user-select: none;
            overflow: hidden;
            cursor: pointer;
            
            div {
                span {
                    position: relative;
                    padding-left: 16px;
                    padding-right: 16px;
                    color: rgb(60, 145, 242);
                    font-family: Roboto;
                    font-size: 10px;
                    font-weight: 500;
                    text-transform: uppercase;
                    vertical-align: middle;
                    letter-spacing: 0px;

                }
            }

            &:hover {
                background-color: rgba(153, 153, 153, .2);
            }

        }

        .cancel {
            color: rgba(0, 0, 0, 0.870588);

            span {
                color: rgb(74, 74, 74);
            }
        }
    }
}
