$backgroundColor:                             #f8f8f8;
$appBarBackgroundColor:                       #3C91F2;
$inputBorderColor:                            rgba(255, 255, 255, .4);
$inputFontColor:                              rgba(255, 255, 255, 1);
$tableHeaderCaptionColor:                     #2d2d2d;
$tableAdditionalColor:                        #9d9d9d;
$transparent:                                 rgba(0, 0, 0, 0);
