@font-face {
    font-family: 'Roboto-Light';
    src: url('../theme/fonts/roboto-light-webfont.eot');
    src: url('../theme/fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../theme/fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../theme/fonts/roboto-light-webfont.woff') format('woff'),
         url('../theme/fonts/roboto-light-webfont.ttf') format('truetype'),
         url('../theme/fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../theme/fonts/roboto-regular-webfont.eot');
    src: url('../theme/fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../theme/fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../theme/fonts/roboto-regular-webfont.woff') format('woff'),
         url('../theme/fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../theme/fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
